@using _01._07._21_EXAM_Internet_Shop.Models
@model List<Order>
@{
    ViewData["Title"] = "My Orders";
}

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Number</h5>
                <small>@item.OrderDate</small>
            </div>
            <p class="mb-1">@item.NoteContent</p>
            <p class="mb-1">@item.Price ₴</p>
            <small>@item.Status</small>
        </div>
    }
</div>


